.arsenal-bold-italic {
    font-family: "Arsenal", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .arsenal-bold {
    font-family: "Arsenal", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .arsenal-regular-italic {
    font-family: "Arsenal", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .arsenal-regular {
    font-family: "Arsenal", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  



#appBar{
    background: white;
    color: black;
}

.medecin_fom {
    border:1px solid rgb(201, 199, 199);
    display: grid;
    gap:10px;
    width: 400px;
    margin:5vh auto;
    padding: 15px;
    color: black;
    background: white;
    border-radius: 10px;
}

.medecin_fom button{
    margin: 10px auto;
    width: 200px;
    border: 1px solid black;
    box-shadow: 0px 0px 5px 0px rgba(38, 233, 233, 0.644);

}
.medecin_fom button:hover{
    box-shadow: 0px 0px 5px 0px rgb(102, 101, 101);
}