#appBar{
    background-image: url("moderate-aquamarine-dark-gradient-background_608506-1382.avif");
}

.medecin_fom {
   
    display: grid;
    gap:10px;
    width: 400px;
    margin:25vh auto;
    padding: 15px;
    color: black;
    background: white;
}

.medecin_fom button{
    margin: 10px auto;
    width: 200px;
    border: 1px solid black;
    box-shadow: 0px 0px 5px 0px rgba(38, 233, 233, 0.644);

}
.medecin_fom button:hover{
    box-shadow: 0px 0px 5px 0px rgb(102, 101, 101);
}