.logoutimage{
    margin: auto;
    width: 150px;
}
.all{
    background-image: url("moderate-aquamarine-dark-gradient-background_608506-1382.avif"); 
        height:100vh;
        padding:0;
        display: flex;
        align-items:center;
        justify-content:center;
        background-size: cover;
}