/* .profil_flex{
    display: flex;
    height: 100vh;
    background-color: rgba(38, 233, 233, 0.5);
}

#section_profil{
    width: fit-content;
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 20px;
    background-color: whitesmoke;
    margin-top: 25vh;
    border-radius: 10px;
}
#section_profil div img{
  width: 250px;
  height: 250px;
  object-fit:fill;
  
  
}
#section_profil div .informations_user{
    display: grid;
    gap: 30px;
}
#section_profil div .identities nav p{
    padding: 5px;
    
}
#section_profil div .identities nav p span{
    padding: 5px;
    border-radius: 5px;
}
#section_profil div .identities nav{
    display: flex;
    justify-content: space-between;
    border: 1px solid rgba(0, 0, 0, 0.253);
    margin: 10px;
    border-radius: 5px;
}
#section_profil div .identities nav img{
    width: 20px;
    height: 20px;
    margin-top: auto;
    margin-bottom: auto;
    
} */