/* .all_flex{
    display: flex;
    justify-content: space-around;
    
}
.table_div{
   display: flex;
}
.table_div div{
    
}

table{
    
    width:800px;
    height: fit-content;
    border-collapse:collapse;
    text-align: left;
    margin: 20px;
  
}

table th {
    background-color: rgba(0, 0, 0, 0.726);
    border-left: 1px solid white;
    color:whitesmoke;
    padding: 10px;
}
table tr{
   
}
table td{
    background-color: rgba(0, 0, 0, 0.089);
    padding: 10px;
}

h1{
    text-align: center;
    margin: 10px;
}
.form_div{
    border: 1px solid red;
    width: 50%;
}

/* ..........................................tresoreries css........................................................ */
/* ..........................................tresoreries css........................................................ */

/* .action{
    display: flex;
    
}
.corbeil_image{
    width:30px;
    height: 30px;
    border: 1px solid rgb(211, 210, 210);
    border-radius: 5px;
    transition: 0.5s;
}
.corbeil_image:hover{
    cursor: pointer;
    box-shadow: 0px 0px 10px 0px rgb(163, 163, 163);
}
.detail_btn{
    display:flex;
    gap:5px;
    padding: 5px;
    border-radius: 10px;
    padding: 10px;
    border: none;
    box-shadow: 0px 0px 6px 0px black;
    background-color: black;
}
.service_colone{
    display: flex;
    align-items: center;
}
.client_div{
    background-color: white;
    width: fit-content;
    padding: 20px;
}
/* ================================================================================== */

.profil_flex{
    display: flex;
    height: 100vh;
    background-color: rgba(38, 233, 233, 0.5);
}

#section_profil{
    width: fit-content;
    display: grid;
    justify-content: center;
    gap: 20px;
    padding: 10px;
    background-color: whitesmoke;
    margin: 20px;
    border-radius: 10px;
}
#section_profil div img{
  width: 250px;
  height: 150px;
  object-fit:cover;
  
  
  
}
#section_profil div .informations_user{
    display: grid;
    gap: 30px;
}
#section_profil div .identities nav p{
    padding: 5px;
    
}
#section_profil div .identities nav p span{
    padding: 5px;
    border-radius: 5px;
}
#section_profil div .identities nav{
    display: flex;
    justify-content: space-between;
    border: 1px solid rgba(0, 0, 0, 0.253);
    margin: 5px;
    border-radius: 5px;
}
#section_profil div .identities nav img{
    width: 20px;
    height: 20px;
    margin-top: auto;
    margin-bottom: auto;
    
} */ */